@font-face {
  font-family: "hdzkIcon"; /* Project id 4053247 */
  src: url('iconfont.ttf?t=1683597555982') format('truetype');
}

.hdzkIcon {
  font-family: "hdzkIcon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_down:before {
  content: "\e634";
}

.icon-user:before {
  content: "\e633";
}

.icon-org_tree:before {
  content: "\e632";
}

.icon-org_extend:before {
  content: "\e631";
}

.icon-anquan:before {
  content: "\e630";
}

.icon-fenzu:before {
  content: "\e68f";
}

.icon-daochu:before {
  content: "\e690";
}

.icon-dongzuo:before {
  content: "\e691";
}

.icon-kapianshitu:before {
  content: "\e692";
}

.icon-riqi:before {
  content: "\e693";
}

.icon-search:before {
  content: "\e694";
}

.icon-shaixuan:before {
  content: "\e695";
}

.icon-dayinji:before {
  content: "\e696";
}

.icon-chongzhi:before {
  content: "\e697";
}

.icon-shoucang:before {
  content: "\e698";
}

.icon-liebiaoshitu:before {
  content: "\e699";
}

.icon-weishoucang:before {
  content: "\e69a";
}


